<% provide :title, "Snippet ##{@snippet.id}" %>
<% provide :jsfile, 'snippet.show' %>

<div class="snippet-box content">
  <div class="alert alert-success clearfix">
    <div class="snippet-name">
      <strong><%= @snippet.name %></strong>
    </div>
    <div class="snippet-author">
      Created by <strong>
        <% if @snippet.user %><%= @snippet.user.name %><% else %>Guest<% end %>
      </strong>
    </div>
  </div>
  <div class="box-body content-box">
    <div class="snippet-desc"><strong>Description: </strong><%= @snippet.desc %></div>
    <div class="snippet-legend">
      <p>Blue line number ( <span style="background-color:#3A87AD;color:#FFF;padding:2px 10px;">N.</span> ) means there are some comments on this line.</p>
      <p>Click on a line to see the comments and to add your comments on this line.</p>
    </div>
    <div id="codebox" class="snippet-code">
      <span class="label label-inverse"><%= @typenames[@snippet.filetype] %></span>
      <% if @typenames[@snippet.filetype].empty? %>
<pre class="prettyprint linenums c-off"><code><%= @snippet.content %></code></pre>
      <% else %>
<pre class="prettyprint linenums c-on"><code class="language-<%= @typenames[@snippet.filetype] %>"><%= @snippet.content %></code></pre>
      <% end %>
<script>prettyPrint();</script>

      <!-- comment popover -->
      <div id="comment-popover" class="comments popover right">
        <div class="arrow"></div>
        <h3 class="popover-title">Comments<button type="button" id="close-cmt" class="close">×</button></h3>
        <div class="popover-content">
          <div class="comments-inner"><ol></ol></div>
          <div class="comment-form">
            <p id="comment-tip" style="display: none"></p>
            <% if not user_signed_in? %>
              <p class="alert">You need to log in before adding a comment.</p>
            <% else %>
              <div class="comment-head pull-left">
                <img src="http://gravatar.com/avatar/<%= current_user.avatar %>?s=32" alt="">
              </div>
              <div class="comment-body">
                <textarea id="comment-input" placeholder="Add some comments..." rows="2"></textarea>
                <input id="comment-userid" type="hidden" value="<%= current_user.id %>">
              </div>
              <div class="comment-action">
                <span id="comment-error" class="notice"></span>
                <a href="#" id="cancel-cmt" class="btn">Cancel</a>&nbsp;&nbsp;
                <a href="#" id="submit-cmt" class="btn btn-info">Submit</a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if user_signed_in? and @snippet.user and current_user.id == @snippet.user.id %>
    <div class="snippet-actions">
      <%= link_to 'Edit', edit_snippet_path(@snippet), class: 'snippet-edit btn' %>
      <%= link_to 'Delete', @snippet, id: 'delete-snippet', class: 'snippet-delete btn btn-danger' %>
    </div>
    <% end %>
  </div>
</div>

<script>
gEarlGreyData = {
  snippetID: <%= @snippet.id %>,
  CMT_GET: '<%= snippet_comments_path @snippet %>.json',
  CMT_CREATE: '<%= snippet_comments_path @snippet %>.json',
  CMT_DELETE: '<%= snippet_path @snippet %>',
};
</script>

