<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= page_title(yield :title) %></title>
    <!--link rel="shortcut icon" href="../assets/ico/favicon.ico"-->
    <%= stylesheet_link_tag "bootstrap", :media => "all" %>
    <%= stylesheet_link_tag "style", :media => "all" %>
    <%= javascript_include_tag "prettify" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h1 class="pull-left"><%= link_to 'EarlGrey', root_path %></h1>
        <div class="user">
          <div class="user-actions navbar-inverse pull-right">
            <% if user_signed_in? %>
              <div class="user-img pull-left">
                <a id="u-gravatar" href="http://gravatar.com/" title="Go to Gravatar.com and change your profile image" rel="tooltip" data-placement="bottom" target="_blank"><img src="http://gravatar.com/avatar/<%= current_user.avatar %>?s=32" alt=""></a>
              </div>
              <ul class="nav nav-pills pull-left">
                <li><span id="u-name" class="user-name"><%= current_user.name %></span></li>
                <li><a id="u-profile" href="<%= edit_user_registration_path %>" title="My Profile">Profile</a></li>
                <li><a id="u-signout" href="<%= destroy_user_session_path %>" title="Sign Out">Sign Out</a></li>
              </ul>
            <% else %>
              <ul class="nav nav-pills pull-left">
                <li>
                <a id="u-login" href="<%= new_user_session_path %>" title="Log In">Log In</a>
                </li>
                <li><a id="u-signup" href="<%= new_user_registration_path %>" title="Sign Up">Sign Up</a></li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <p><strong>EarlGrey</strong> - A product of team Maccha. | Made by Yang Piao (yp {at} cmu.edu)</p>
        <p>This is the individual project of 96-821. The source code is on 
        <a href="https://github.com/yangpiao/96821-project" title="GitHub Page">GitHub</a>.
        </p>
      </div>
    </footer>

    <div id="tipDlg" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="tipDlg-hd">Header</h3>
      </div>
      <div id="tipDlg-bd" class="modal-body"></div>
      <div class="modal-footer">
        <a href="#" id="tipDlg-c" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
        <a href="#" id="tipDlg-s" class="btn btn-primary">OK</a>
      </div>
    </div>

    <div id="loginDlg" class="user-dlg modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Log In</h3>
      </div>
      <%= form_for("user", :url => user_session_path, :html => { :class => "login-form" }) do |f| %>
      <div class="modal-body">
        <%= f.label :email do %>
          Email<span id="login-email-err" class="error"></span>
        <% end %>
        <%= f.email_field :email, :class => "input-xlarge" %>
        <%= f.label :password do %>
          Password<span id="login-pass-err" class="error"></span>
        <% end %>
        <%= f.password_field :password, :class => "input-xlarge" %>
        <%= f.label :remember_me, :class => "checkbox" do %>
          <%= f.check_box :remember_me %> Remember me
        <% end %>
      </div>
      <div class="modal-footer login-actions">
        <%= f.submit "Log In", :class => "btn btn-primary", :id => "user-login" %>
        <%= link_to "Forgot password?", new_password_path('user'), :class => "forgot-pass" %>
      </div>
      <% end %>
    </div>

    <div id="signupDlg" class="user-dlg modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Sign Up</h3>
      </div>
      <%= form_for("user", :url => user_registration_path, :html => { :class => "login-form" }) do |f| %>
      <div class="modal-body">
        <%= f.label :name do %>
          Name<span id="signup-name-err" class="error"></span>
        <% end %>
        <%= f.text_field :name, :class => "input-xlarge" %>
        <label for="user_email_s">
          Email<span id="signup-email-err" class="error"></span>
        </label>
        <input class="input-xlarge" id="user_email_s" name="user[email]" size="30" type="email">
        <label for="user_password_s">
          Password<span id="signup-pass-err" class="error"></span>
        </label>
        <input class="input-xlarge" id="user_password_s" name="user[password]" size="30" type="password">
        <%= f.label :password_confirmation do %>
          Confirm Password<span id="signup-pass-c-err" class="error"></span>
        <% end %>
        <%= f.password_field :password_confirmation, :class => "input-xlarge" %>
      </div>
      <div class="modal-footer login-actions">
        <%= f.submit "Sign Up", :class => "btn btn-primary", :id => "user-signup" %>
      </div>
      <% end %>
    </div>

    <script>var gEarlGreyUser = <%= raw current_user.to_json %></script>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag "snippet.base" %>
    <% if not (yield :jsfile).empty? %>
    <%= javascript_include_tag(yield :jsfile) %>
    <% end %>

    <!--[if IE]>
    <script>
      var dlg = gEarlGreyCommon.dlg;
      dlg.set({
        hd: 'Oops...',
        bd: 'This website currently does not support Internet Explorer. Please use latest Chrome/Firefox/Safari/Opera to make web browsing faster, safer and easier.',
        hideOk: true,
        hideCancel: true,
        hideClose: true
      });
      dlg.show();
    </script>
    <![endif]-->

    <!--[if lt IE 8]>
    <script>
    /*if (!(window.ActiveXObject && document.documentMode)) {
      var dlg = gEarlGreyCommon.dlg;
      dlg.set({
        hd: 'Oops...',
        bd: 'You are using a really old browser, so the page will not be rendered properly. Please upgrade to Internet Explorer 8 or higher, or use latest Chrome/Firefox/Safari/Opera, to make web browsing faster, safer and easier.',
        hideOk: true,
        hideCancel: true,
        hideClose: true
      });
      dlg.show();
    }*/
    </script>
    <![endif]-->
  </body>
</html>

